<table class="table table-success text-center">
    <tr>
        <th class="h2 text-danger" colspan="4">BOOK LIST</th>
        <th>
            <a  class ="btn btn-primary " href="/add">ADD</a>
            <a  class ="btn btn-secondary " href="/drop" onclick="return confirm('Are you sure want to drop all item ?');">DROP</a>
        </th>

          

    </tr>
    <tr class="h4 text-primary">
        <th>title</th>
        <th>author</th>

        <th>price</th>
        <th>cover</th>
        <th>menu</th>

    </tr>
    {{#each books}}
    <tr class="h6">
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{price}}</td>
        <td><a href="/detail/{{_id}}"><img src="{{cover}}" width="100" height="200"></a>
        </td>
        <td>
            <a class="btn btn_warning" href="/edit/{{_id}}">edit</a>
            <a class="btn btn danger" href="/delete/{{_id}}" onclick="return confirm('Are you sure delete');">delete</a>

        </td>

    </tr>
{{/each}}
</table>